---
interface Props {
  id?: string;
  title?: string;
  src?: string;
}

const {
  id = 'video',
  title = 'Introducing Promptless 1.0',
  src = 'https://www.tella.tv/video/vid_cmkc3e0h900h804ii26qp01mo/embed?feature=oembed',
} = Astro.props;
---

<section id={id} data-section-tracked={id}>
  <div class="pl-site-video-embed">
    <iframe
      src={src}
      title={title}
      allowfullscreen
      allow="accelerometer *; encrypted-media *; gyroscope *; picture-in-picture *; fullscreen *"
    />
  </div>
</section>
