---
import { GitMerge } from '@lucide/astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article class="card sl-flex pl-merge-card">
  <p class="title sl-flex">
    <GitMerge class="icon" size={32} stroke-width={1.75} aria-hidden="true" />
    <span>{title}</span>
  </p>
  <div class="body"><slot /></div>
</article>

<style>
  .pl-merge-card {
    --sl-card-border: var(--sl-color-orange);
    --sl-card-bg: var(--sl-color-orange-low);
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-black);
    padding: clamp(1rem, calc(0.25rem + 2vw), 1.6rem);
    flex-direction: column;
    gap: clamp(0.5rem, calc(0.125rem + 1vw), 1rem);
  }

  .pl-merge-card .title {
    font-weight: 600;
    font-size: var(--sl-text-h4);
    color: var(--sl-color-white);
    line-height: var(--sl-line-height-headings);
    gap: 1rem;
    align-items: center;
  }

  .pl-merge-card .icon {
    border: 1px solid var(--sl-card-border);
    background-color: var(--sl-card-bg);
    padding: 0.2em;
    border-radius: 0.25rem;
    flex-shrink: 0;
    width: 1.333em;
    height: 1.333em;
    box-sizing: content-box;
  }

  .pl-merge-card .body {
    margin: 0;
    font-size: clamp(var(--sl-text-sm), calc(0.5rem + 1vw), var(--sl-text-body));
  }
</style>
