---
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/#demo" />
    <link rel="canonical" href="/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <script is:inline>window.location.replace('/#demo');</script>
  </body>
</html>
