---
import { getEntry } from 'astro:content';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

const entry = await getEntry('website', 'home');

if (!entry) {
  throw new Error('Missing website content entry: home');
}

const { Content } = await entry.render();
---

<StarlightPage
  hasSidebar={false}
  frontmatter={{
    title: entry.data.title,
    description: entry.data.description,
    template: 'doc',
    tableOfContents: false,
    editUrl: false,
  }}
>
  <div class="pl-site-page">
    <Content />
  </div>
</StarlightPage>
