---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import DemoBooking from '@components/site/DemoBooking.astro';
---

<StarlightPage
  hasSidebar={false}
  frontmatter={{
    title: 'Book a 15-minute demo',
    description: 'Talk to one of our engineers to see how Promptless can automate your docs workflow.',
    template: 'doc',
    tableOfContents: false,
    editUrl: false,
  }}
>
  <div class="pl-site-page pl-site-page-compact">
    <DemoBooking />
  </div>
</StarlightPage>
