---
import { getEntry } from 'astro:content';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

const entry = await getEntry('website', 'pricing');
const pageTitle = 'Pricing that fits teams of all sizes';

if (!entry) {
  throw new Error('Missing website content entry: pricing');
}

const { Content } = await entry.render();
---

<StarlightPage
  hasSidebar={false}
  frontmatter={{
    title: pageTitle,
    description: entry.data.description,
    template: 'doc',
    tableOfContents: false,
    editUrl: false,
  }}
>
  <div class="pl-site-page pl-site-page-compact">
    <Content />
  </div>
</StarlightPage>
