---
import { getEntry } from 'astro:content';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

const entry = await getEntry('website', 'wtd-demo');

if (!entry) {
  throw new Error('Missing website content entry: wtd-demo');
}

const { Content, headings } = await entry.render();
---

<StarlightPage
  hasSidebar={false}
  headings={headings}
  frontmatter={{
    title: entry.data.title,
    description: entry.data.description,
    template: 'doc',
    editUrl: false,
    tableOfContents: true,
  }}
>
  <div class="pl-site-page">
    <Content />
  </div>
</StarlightPage>
