---
import Search from '@astrojs/starlight/components/Search.astro';
import SiteTitle from './SiteTitle.astro';
import TopHeader from '@components/shared/TopHeader.astro';
import AnalyticsClickTracker from '@components/shared/AnalyticsClickTracker.astro';
import PostHog from '@components/posthog.astro';
---

<p class="sr-only">
  For the complete documentation index, see <a href="/llms.txt">llms.txt</a>.
</p>
<TopHeader showNavTools>
  <div slot="brand" class="title-wrapper sl-flex">
    <SiteTitle />
  </div>
  <Search slot="nav-tools" />
</TopHeader>
<AnalyticsClickTracker />
<PostHog />

<style>
  @layer starlight.core {
    .title-wrapper {
      overflow: clip;
      padding: 0.25rem;
      margin: -0.25rem;
      min-width: 0;
      flex-shrink: 0;
    }
  }
</style>
