---
const PAGE_TITLE_ID = '_top';
const pathname = Astro.url.pathname.replace(/\/+$/, '') || '/';
const isWebsiteHome = pathname === '/';
---

{
  isWebsiteHome ? (
    <style is:global>
      main > .content-panel:first-child {
        display: none;
      }

      main > .content-panel:first-child + .content-panel {
        border-top: 0;
      }
    </style>
  ) : (
    <>
      <h1 id={PAGE_TITLE_ID}>{Astro.locals.starlightRoute.entry.data.title}</h1>
    </>
  )
}
