---
const { siteTitle } = Astro.locals.starlightRoute;
---

<a href="/" class="site-title sl-flex">
  <img src="/site/logo_light.svg" alt="Promptless" width="150" height="44" loading="eager" />
  <span class="sr-only" translate="no">{siteTitle}</span>
</a>

<style>
  @layer starlight.core {
    .site-title {
      align-items: center;
      display: inline-flex;
      min-width: 0;
      text-decoration: none;
    }

    .site-title img {
      display: block;
      height: 2.1rem;
      width: auto;
      max-width: 100%;
      object-fit: contain;
      object-position: 0 50%;
    }
  }
</style>
