---
import { getEntry } from 'astro:content';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getFreeToolsSidebarLinks } from '@lib/free-tools-navigation';

const entry = await getEntry('website', 'free-tools');

if (!entry) {
  throw new Error('Missing website content entry: free-tools');
}

const { Content, headings } = await entry.render();
---

<StarlightPage
  hasSidebar
  sidebar={getFreeToolsSidebarLinks()}
  headings={headings}
  frontmatter={{
    title: entry.data.title,
    description: entry.data.description,
    template: 'doc',
    editUrl: false,
    tableOfContents: false,
  }}
>
  <div class="pl-site-page pl-site-page-compact pl-free-tools-page">
    <Content />
  </div>
</StarlightPage>
