---
export interface Props {
  path: string;
  type?: string;
  required?: boolean;
}

const { path, type, required = false } = Astro.props;
---

<div class="fern-param-field">
  <div class="fern-param-heading">
    <span class="fern-param-path">{path}</span>
    {(type || required) && (
      <span class="fern-param-meta">
        {type ? `type: ${type}` : ''}
        {type && required ? ' • ' : ''}
        {required ? 'required' : ''}
      </span>
    )}
  </div>
  <div>
    <slot />
  </div>
</div>
